{%extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>Stored requests</h1>
<form method="post" action="./">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <td>Host</td>
                <td>Path</td>
                <td>Date</td>

                <td>
                    <a href={% if request.GET.o == 'priority' %}
                    "./?page={{ page }}&o=-priority"
                    {% else %}
                    "./?page={{ page }}&o=priority"{% endif %}>
                    Is priority</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.id }}
                <tr>
                    <td>{{ form.instance.host }}</td>
                    <td>{{ form.instance.path }}</td>
                    <td>{{ form.instance.date }}</td>
                    <td>{{ form.priority }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
{% for page in paginator.page_range %}
    <a href=
    "./?page={{ page }}{% if request.GET.o %}&o={{ request.GET.o }}{% endif %}">
    {{ page }}
    </a>
{% endfor %}
{% endblock %}
